<img src="\HairBySilke_2021_FE\Billeder\Raccoon_close_up.jpg" alt="Silke Møller">
<p>Jeg går aldrig på kompromis med kvalitet, og hos mig har jeg altid kunden i fokus, så jeg kan være sikker på at min kundes ønsker bliver bedst opfyldt ned til mindste detalje.
  Jeg har en 4-årig frisøruddannelse, samt kurser fra rundt omkring i Danmark. Udover min frisøruddannelse har jeg også været makeup-artist siden 2016,
  hvilket jeg har bygget på med yderlige kurser siden da. </p>

<p>Etiam vitae ex sodales quam feugiat maximus. Sed a hendrerit ex. Ut a ipsum facilisis, rutrum erat eu, feugiat purus. Sed pharetra tellus ut mauris maximus, et maximus risus semper. Vivamus imperdiet ipsum quis sapien semper, nec elementum dolor facilisis. Nullam et lorem at sem semper ultricies eu nec orci. Etiam imperdiet vitae libero quis feugiat. In ultrices, nisl scelerisque condimentum placerat, enim risus sollicitudin nibh, eget blandit libero elit sed lorem. Suspendisse elit felis, semper in fermentum et, dapibus non libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam iaculis dictum tempus.</p>
