<h1>Bookinger: </h1>

<div *ngIf="appointmentList$ | async as appointments">
  <li *ngFor="let appointment of appointments.list" [value]="appointment" #appointment>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kunde: {{appointment.customer.name}}
            <br>
            Booking: {{appointment.start}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="treatmentList$ | async as treatments">
          <mat-form-field appearance="fill">
            <mat-label>Vælg ny behandling</mat-label>
            <mat-select [(ngModel)]="selectedTreatment">
              <mat-option *ngFor="let treatment of treatments.list" [value]="treatment.treatmentName"
                          (onSelectionChange)="getTimeSlotByTreatment(treatment.duration)">
                {{treatment.treatmentName}} {{treatment.duration}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="timeslotsByTreat$ | async as timeslotByTreat">
          <mat-form-field appearence="fill">
            <mat-label>Vælg ny tid her</mat-label>
            <mat-select [(ngModel)]="selectedTimeSlot">
              <mat-option *ngFor="let timeslot of timeslotByTreat.list" [value]="timeslot.start">
                {{timeslot.start}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-button (click)="updateAppointment(appointment.id, selectedTreatment, selectedTimeSlot)">Updater
          booking
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </li>
</div>
