<h1>Book din frisør tid her!</h1>

<div>
  <label>Skriv dine kontaktoplysninger</label> <br>
  <label for="cust-name">Fulde navn:</label>
  <input id="cust-name" [(ngModel)]="custName">

  <label for="cust-number">Telefon nummer:</label>
  <input id="cust-number" [(ngModel)]="custNumber">

  <label for="cust-mail">Email:</label>
  <input id="cust-mail" [(ngModel)]="custEmail">
</div>

<div *ngIf="treatmentList$ | async as treatments">
  <mat-form-field appearance="fill">
    <mat-label>Vælg behandling</mat-label>
    <mat-select [(ngModel)]="selectedTreatment">
      <mat-option *ngFor="let treatment of treatments.list" [value]="treatment.treatmentName" (onSelectionChange)="getTimeSlotByTreatment(treatment.duration)">
      {{treatment.treatmentName}} {{treatment.duration}}
     </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="timeslotsByTreat$ | async as timeslotByTreat else selectTreatment">
  <mat-form-field appearence="fill">
    <mat-label>Vælg din tid her</mat-label>
    <mat-select [(ngModel)]="selectedTimeSlot">
      <mat-option *ngFor="let timeslot of timeslotByTreat.list" [value]="timeslot.start">
        {{timeslot.start}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button (click)="bookAppointment(selectedTreatment, selectedTimeSlot, custName,custNumber, custEmail )" >Book tid</button>

<ng-template #selectTreatment>..Vælg en behandling for at kunne se ledige tider..</ng-template>

